@font-face {
  font-family: "Manrope";
  src: url(./font/Manrope.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  font-size: 12px;
  font-weight: 500;
  color: var(--brand);
  float: left;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}
