@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/ProductSans.ttf);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/ProductSans-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  font-size: 12px;
  font-weight: 500;
  color: var(--clr-mdark);
  float: left;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  left: 0;
}
