/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-content {
  position: relative;
  margin: auto;
  background-color: white;
  padding: 20px;
  width: 77%;
  border-radius: 36px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--login);
  border-radius: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}

/* Image container with scrollable area */
.image-container {
  max-height: 220px; /* Set maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between images */
}

.image-container img {
  width: 100%; /* Responsive images */
  max-height: 180px;
  object-fit: contain; /* Preserve aspect ratio */
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

/*.image-container img:hover {*/
 /* transform: scale(1.05);*/ /* Slight zoom on hover */
/*}*/

/* Instructions container */
.instructions-container {
  display: flex;
  flex-direction: column;
  justify-self:center;
  scrollbar-width: none;

  max-height: 200px;
  overflow-y: auto;
  margin-top: 15px;
}

.instructions-container h4 {
  font-size: 18px;
  color: var(--insdark);
}

.instructions-container p {
  margin: 1px 0;
  line-height: 1.5;
  color: var(--inslight);
  font-size: 12px;
}

.instructions-container p b {
  color: var(--insdark); /* Change to your desired color */
  font-size: 14px; /* Adjust font size if needed */
}
.ins-con{
text-align: left;
flex-direction: column;
width: 100%;
}

#number {
  color: var(--insdark); /* Change to your desired color */
  font-size: 14px; /* Adjust font size if needed */
  user-select: text;
}

#gcash {
  color: var(--insdark); /* Change to your desired color */
  font-size: 14px; /* Adjust font size if needed */
}

#maya {
  color: var(--insdark); /* Change to your desired color */
  font-size: 14px; /* Adjust font size if needed */
}

.instructions-container a {
  margin: 1px 0;
  line-height: 1.5;
  color: var(--insdark);
  font-size: 12px;
}
