@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/ProductSans.ttf);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/ProductSans-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.portal {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg);
  /*background-image: url(img/bg.gif);*/
  /*background-image: var(--bak-wall);*/
}

.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Start of Preloader */
#preloader {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(wallpaper.jpg);
  background: var(--bg); */
  z-index: 1000000;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(75px);
}
#preloader p {
  font-family: "space-tech-italic", sans-serif;
  color: rgba(224, 74, 178);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  align-items: center;
  position: relative;
  display: block;
  margin-top: 70%;
  width: auto;
}
#preloader img {
  height: 100px;
  width: auto;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  background-color: #fff;
  border-radius: 50%;
  animation: scale50 1s infinite ease-in-out;
}
.loader::before {
  top: auto;
  bottom: 0;
  background-color: #231f20;
  animation-delay: 0.5s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scale50 {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* End of Preloader */
