@font-face {
  font-family: "sf-pro-regular";
  src: url(./font/ProductSans.ttf);
}
@font-face {
  font-family: "space-tech-italic";
  src: url(./font/ProductSans-Medium.ttf);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.portal {
  font-family: "sf-pro-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg);
  /*background-image: url(img/bg.gif)*/
}

.disable-text-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Start of Instruction */
.instruction p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(55, 71, 79);
  margin-bottom: 8%;
}
/* End of Instruction */

/* Start of Omada Buttons */
.status {
  color: rgb(35 31 32);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
}

.oper-section-item {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: left;
  border-radius: 24px;
  border: 2px solid var(--voucherline);
  width: 100%;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
}

#rotatingText1, #rotatingText2 {
  font-size: 13px;
}

::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: var(--voucherlight);
  letter-spacing: normal;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 24px;
  color: var(--voucherdark);
  letter-spacing: 0.5px;
  caret-color: var(--voucherline);
}

.input:focus {
  outline: 2px solid var(--voucherline);
}

.input:focus::placeholder {
  color: var(--voucherlight);
}

/* Start of input name */
.inputName {
  font-size: 18px;
  font-weight: 500;
  color: rgb(55, 71, 79);
  text-align: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  --max-width: 30rem;
  width: min(90% - 0rem, var(--max-width));
}
/* End of input name */

.button {
  background: var(--login);
  border-radius: 24px;
  border: none;
  margin: 0 auto;
  --max-width: 18rem;
  width: min(90% - 0rem, var(--max-width));
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.button p {
  font-size: 16px;
  font-weight: 500;
  color: var(--logintext);
  text-align: center;
}
.button:active {
  border: none;
  outline: none;
}
.button:focus {
  color: var(--clr-btns-text-fcs);
  border: none;
  outline: none;
}
/* End of Omada Buttons */

/* Start of main-logo */
.main-logo img {
  height: 100px;
  width: auto;
}

.main-logo p {
  font-family: "space-tech-italic", sans-serif;
  color: rgba(224, 74, 178);
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  margin: 0;
  float: none;
}
/* End of main-logo */

/* Start of Main Greeting */
.maingreeting {
  font-family: "sf-pro-regular", sans-serif;
  color: var(--maingreeting);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* End of Main Greeting */

/* Start of Omada Login Box CSS */
.form-box {
  
  display: block;
  position: relative;
  --max-width: 20rem;
  width: min(100% - 0rem, var(--max-width));
  border-radius: 36px;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  clear: both;
}
.form-glass {
  background: rgb(255, 255, 255);
}

/* End of Omada Login Box CSS */
